ul.multivaluefieldlist {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul.multivaluefieldlist > li {
    margin: 0;
    padding:0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    flex: 1;
    flex-direction: row;
    list-style-type: none;
    gap: 8px 6px;
}

ul.multivaluefieldlist > li > .mventryfield {
    display: block;
    flex: 6;
}

ul.multivaluefieldlist > li::after {
    flex: 0;
    content: '↕';
    cursor: ns-resize;
    display: block;
    text-align: center;
    font-size: 24px;
}

.cms-edit-form ul.multivaluefieldlist > li::after {
    content: "S";
    font-family: silverstripe !important;
    color: #566b8d;
}

ul.multivaluefieldlist > li > textarea.mventryfield {

}
